<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381546877088-jh5e627akh4i5s7godjove6khscbo7he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381546877088-jh5e627akh4i5s7godjove6khscbo7he</string>
	<key>API_KEY</key>
	<string>AIzaSyBdWWRvHR4pFad2LdEQKpwgKPefIjZ9KX4</string>
	<key>GCM_SENDER_ID</key>
	<string>381546877088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capgemini.Merish-Sprint-2</string>
	<key>PROJECT_ID</key>
	<string>sprint2-2aa27</string>
	<key>STORAGE_BUCKET</key>
	<string>sprint2-2aa27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381546877088:ios:5127d3aa5d1b8c6d5139c5</string>
</dict>
</plist>